<!DOCTYPE html>
<html>
    <head>
        <title>IMDB</title>
        <meta charset="UTF-8">
        <meta name="description" content="Riddle - Portfolio Template">
        <meta name="keywords" content="portfolio, riddle, onepage, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->   
       <!-- <link href="img1/favicon.ico" rel="shortcut icon"/>-->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 2px solid #dddddd;
              text-align: left;
              padding: 13px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color:yellow">IMDB</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Movies</a></li>
                <li><a href="#">Tv Series</a></li>
                <li><a href="#">Celebrities</a></li>
              </ul>
              <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form> 
            </div>
          </nav> 
          <a href="addmovie"><button style="position:absolute;right:20px">Add Movie</button></a>
          <h1>Movies in 2019</h1>
          
          <table>
              <tr>
                <th>Poster</th>
                <th>Movie Name</th>
                <th>Year of Release</th>
                <th>Plot</th>
                <th>Cast</th>
                <th>Edit</th>
              </tr>
              <% for(var i=0;i < result.length;i++) { %>
                <tr>
                  <form method="get" action="/editmovie/<%= result[i]._Id %>">
                  <td><img src="<%= result[i].poster %>"/></td>
                  <td><%= result[i].movie %></td>
                  <td><%= result[i].release %></td>
                  <td><%= result[i].plot %></td>
                  <td><%= result[i].cast %></td>
                  <td><button type="submit">edit</button></td>
                 </form>
                </tr>
              <% } %>
              <!--<tr>
                <td>Centro </td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing </td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Magazzini </td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
                <td>Germany</td>
                <td>Germany</td>
                <td>Germany</td>
              </tr>-->
            </table>
    </body>
</html>